/proto*
/binutils/binutils-2.22-*
/gcc4/gcc-4.6.3-arm-32strap/
/gcc4/gcc-4.6.3-arm-build/
/gmp/gmp-5.1.0-arm-32strap/
/mpc/mpc-1.0.1-arm-32strap/
/mpfr/mpfr-3.1.1-arm-32strap/
cpp/cpp.ostrap
cpp/cppstrap
cpp/y.tab.c
cpp/y.tab.ostrap
